import CWebGPU

{% for pointer in model.types_by_category('function pointer') %}
public typealias {{ pointer.swift_name }} = (
{%- for arg in pointer.swift_args -%}
{{ arg.swift_type }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
) -> ()

{% endfor %}